
/VCSBasics/bin/Debug/netcoreapp2.1/VCSBasics.deps.json
/VCSBasics/bin/Debug/netcoreapp2.1/VCSBasics.dll
/VCSBasics/bin/Debug/netcoreapp2.1/VCSBasics.pdb
/VCSBasics/bin/Debug/netcoreapp2.1/VCSBasics.runtimeconfig.dev.json
/VCSBasics/bin/Debug/netcoreapp2.1/VCSBasics.runtimeconfig.json
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.AssemblyInfo.cs
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.AssemblyInfoInputs.cache
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.assets.cache
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.csproj.CoreCompileInputs.cache
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.csproj.FileListAbsolute.txt
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.csprojAssemblyReference.cache
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.dll
/VCSBasics/obj/Debug/netcoreapp2.1/VCSBasics.pdb
/VCSBasics/obj/project.assets.json
/VCSBasics/obj/project.packagespec.json
/VCSBasics/obj/VCSBasics.csproj.nuget.cache
/VCSBasics/obj/VCSBasics.csproj.nuget.dgspec.json
/VCSBasics/obj/VCSBasics.csproj.nuget.g.props
/VCSBasics/obj/VCSBasics.csproj.nuget.g.targets
/.idea/.idea.VCSBasics/.idea/.gitignore
/.idea/.idea.VCSBasics/.idea/.name
/.idea/.idea.VCSBasics/.idea/contentModel.xml
/.idea/.idea.VCSBasics/.idea/encodings.xml
/.idea/.idea.VCSBasics/.idea/indexLayout.xml
/.idea/.idea.VCSBasics/.idea/modules.xml
/.idea/.idea.VCSBasics/.idea/projectSettingsUpdater.xml
/.idea/.idea.VCSBasics/.idea/vcs.xml
/.idea/.idea.VCSBasics/riderModule.iml
/.idea/.gitignore
